<!DOCTYPE html>
<html ng-app>
<head>
<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.1.5/angular.min.js"></script>
<link href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" type="text/css" href="css/style.css">
<script src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>

<meta charset=utf-8 />
<title>Angular JS Sticky Notes</title>
</head>
<body ng-controller="ctrl">
  <h2>{{rows.length}} Sticky note{{plural(rows)}}</h2>
  <form class="form-horizontal">
    <span ng-class="{'input-append':addName}">
        <input id="add" type="text" placeholder="Enter note here" ng-model="addName" ng-change="addTemp()"/>
        <input type="submit" class="btn btn-primary" ng-click="addRow()" ng-show="addName" value="+ add"/>
    </span>

  </form>
  <table  class="table table-striped">
    <tr ng-repeat="row in rows | filter : search"  ng-class="{'muted':isTemp($index)}">
      <td>{{$index+1}}</td>
      <td>{{row}}</td>
      <td>
        <button class="btn btn-danger btn-mini" ng-click="deleteRow(row)" ng-hide="isTemp($index)"><i class="icon-trash icon-white"></i></button>
      </td> 
    </tr>   
  </table>
   
  <script type="text/javascript" src="module/myApp.js"></script>
  <script type="text/javascript" src="controller/myController.js"></script>
</body>
</html>


